{% extends 'main.html' %}

{% block content %}


<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-black-600 text-center">Welcome to Housing Helper</h1>


 
<!-- 4 cards -->
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">  
  <!--Card 1-->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="#"><img class="w-full" src="../../../media/images/house_3.jpeg" alt="Mountain">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Browse All Listing</div>
      <p class="text-gray-700 text-base">
     Check out a variety of house listings </p>
    </div>
  </a>
  </div>

  <div class="max-w-sm rounded overflow-hidden shadow-lg">
   
    <a href="#"> <img class="w-full" src="../../../media/rent house.jpg" alt="Mountain">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Rent houses</div>
      <p class="text-gray-700 text-base">
        Navagates to all Houses for Rent
      </p>
    </div>
    </a>
  </div>



  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <a href="#"><img class="w-full" src="../../../media/sale house.jpg" alt="Mountain">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Buy House</div>
      <p class="text-gray-700 text-base">
        Browse all houses for sale!
      </p>
    </div>

    </a>
    
  </div>


</div>







{% endblock %}
