{% extends 'main.html' %}

{% block content %}


<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-black-600 text-center">Home Page</h1>


<h4>Filter houses</h4>

<form method="get"> 
  <fieldset>
    <legend>Fields:</legend>
    <label for="fname">Enter your filtering criteria</label><br>
    <p></p>
    <!--Filtering List -->
    {{ listing_filter.form }}
</div>
    
    <input type="submit" value="Submit">
  </fieldset>
</form>

<!-- Yousif try to move these listings and add the filter to the listing on the browsing page -->






{% endblock %}
