<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse House Listings</title>
</head>
<body>
    {% extends 'main.html' %}


{% block content %}


<!--Product page-->


<h1>{{ listing }}</h1> <br> <h4>{{listing.choice}}</h4>
<text>Price: ${{ listing.price }}</text> <br>
<text>Bathrooms:{{ listing.bathrooms }}</text> <br>
<text>Bedrooms: {{ listing.bedrooms }}</text> <br>
<text>Garage: {{ listing.garage }}</text> <br>
<text>Area {{ listing.sqft}}ft<sup>2</sup></text> <br>
<text>Lot Size: {{ listing.lot_size }}</text> <br>
<text>House Description:{{ listing.description }}</text> <br>

<!-- present image -->
{% if listing.image %}
<img src="{{ listing.image.url }}" width="500px">
{%endif%}
<br>



<a href="{% url 'updatelisting' listing.pk %}">update</a>
{% endblock %}

</body>
</html>
